{% load static %}
<div class="top">
    <center> 
        <ul>
            <li><a href="#">人员伤亡及失踪</a>
 	            <ul>
                    <li><a href="#">死亡</a></li>
                    <li><a href="#">受伤</a></li>
                    <li><a href="#">失踪</a></li>
                </ul>
            </li>
            <li><a href="#">房屋破坏</a>
                <ul>
                    <li><a href="#">土木</a></li>
                    <li><a href="#">砖土</a></li>
                    <li><a href="#">砖混</a></li>
                    <li><a href="#">框架</a></li>
                    <li><a href="#">其他</a></li>
                </ul>
            </li>
            <li><a href="#">生命线工程灾情</a>
                <ul>
                    <li><a href="#">交通</a></li>
                    <li><a href="#">供水</a></li>
                    <li><a href="#">输油</a></li>
                    <li><a href="#">燃气</a></li>
                    <li><a href="#">电力</a></li>
                    <li><a href="#">通信</a></li>
                    <li><a href="#">水利</a></li>                            
                </ul>
            </li>
            <li><a href="#">次生灾害</a>
                <ul>
                    <li><a href="#">崩溃</a></li>
                        <li><a href="#">滑坡</a></li>
                        <li><a href="#">泥石流</a></li>
                        <li><a href="#">岩溶塌陷</a></li>
                        <li><a href="#">地裂缝</a></li>
                        <li><a href="#">地面沉降</a></li>
                        <li><a href="#">其他</a></li>
                </ul>
            </li>                 
            <li><a href="#">震情</a>
                <ul>
                    <li><a href="#">基本</a></li>
                    <li><a href="#">灾情预测</a></li>
                </ul>
            </li>        
        </ul>
        
    </center>      
</div>