{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'leftlist.html'%}
        <div class="span9">
            <script type="text/javascript" src="/static/lib/jqplot/jquery.jqplot.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/javascripts/graphDemo.js"></script>

<div class="stats">    
    <form class="stat" method="post" action="/secondtime/search/">
        {% csrf_token %}
        <select name="dbchoice">
            {% for value in options%}
                <option value={{forloop.counter}}>{{ value }}</option>
            {% endfor %}
        </select>
        <input type="text" name="search" placeholder="查询ID">
        <input type="submit" value="查询">
    </form>  
</div>
<h1 class="page-title">首页</h1>

<div class="row-fluid">
    <div class="block">
        <p class="block-heading" data-toggle="collapse" data-target="#chart-container">Performance Chart</p>
        <div id="chart-container" class="block-body collapse in">
            <div id="line-chart"></div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="block span6">
        <div class="block-heading" data-toggle="collapse" data-target="#tablewidget">开发人员</div>
        <div id="tablewidget" class="block-body collapse in">
            <table class="table">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>学号</th>
                  <th>姓名</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>2017211931</td>
                  <td>王林琛</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>2017211927</td>
                  <td>杨惠元</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>2017211944</td>
                  <td>陈升</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>2017212561</td>
                  <td>杨梦良</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>2017211977</td>
                  <td>郑梦达</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
    <div class="block span6">
        <div class="block-heading" data-toggle="collapse" data-target="#widget1container">MSHD </div>
        <div id="widget1container" class="block-body collapse in">
            <h2>多源异构灾情信息系统</h2>
            <p>本系统从多方面获取数据信息，希冀实时展示各地灾情信息，并提供给用户查看下载相关数据信息</p>
            <p>本系统包括多种灾情信息包括人员伤亡及失踪、房屋破坏、生命线工程灾情、次生灾害、震情</p>
            <p>每个灾情类型有详细的二级灾情信息可供查看</p>
        </div>
    </div>
</div>



        </div>
    </div>
    

    
    <footer>
        <hr>
        
        <p class="pull-right">Collect from <a href="http://www.freemuban.com/" title="网页模板" target="_blank">网页模板</a></p>
        
        
        <p>&copy; 2012 <a href="#">Portnine</a></p>
    </footer>
    

    

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/lib/bootstrap/js/bootstrap.js"></script>
  

  </body>
</html>


