{% load static %}
<html>
<head>
    <title>第二次迭代mshd</title>
    <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>
    {% include 'secondheader.html'%}
    <form method="post" action="/secondtime/upload/" enctype="multipart/form-data" style="margin-top:100px">
        {% csrf_token %}
        <input type="file" name="myfile">
        <input type="text" name="mscode" placeholder="Mscode">
        <input type="submit" value="上传">
    </form>
    <table id="all_info_show" border="1" >
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>location</th>
            <th>type</th>
            <th>grade</th>
            <th>note</th>
            <th>reportingunit</th>
            {% comment %} <th><th> {% endcomment %}
        </tr>
        {% for item in info %}
        <tr>    
            <td>{{ item.id }}</td>
            <td>{{ item.date|date:'Y-m-d H:i:s' }}</td>
            <td>{{ item.location }}</td>
            <td>{{ item.type }}</td>
            <td>{{ item.grade }}</td>
            <td>{{ item.note }}</td>
            <td>{{ item.reportingunit }}</td>
            <td><a href={% url "delete" item.id %}  id ="{{ item.id }}">删除</a></td>
        </tr>
        {% endfor %}
    </table>
    <form method="get" action="/download/">
        {% csrf_token %}
        <input type="submit" value="下载">
    </form>
</body>
</html>
