{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include 'leftlist.html'%}
<div class="span9">
    <form method="POST" action="/secondtime/sendinfo/">
    {% csrf_token %}
    <h1 class="page-title">数据发送</h1>
    <div class="block" >
        <p class="block-heading">选择数据源</p>
        <div class="block-body">
            <div class="row-fluid">
                <table  border="1px"  width="100%" align="left">
                    <tr>
                        <td>人员伤亡及失踪</td>
                        <td>
                            <input type="radio" name="info_list" value="1" />死亡
                            <input type="radio" name="info_list" value="2" />受伤
                            <input type="radio" name="info_list" value="3" />失踪
                        </td>
                    </tr>
                    <tr>
                        <td>房屋破坏</td>
                        <td>
                            <input type="radio" name="info_list" value="4" />土木
                            <input type="radio" name="info_list" value="5" />砖土
                            <input type="radio" name="info_list" value="6" />砖混
                            <input type="radio" name="info_list" value="7" />框架
                            <input type="radio" name="info_list" value="8" />其他
                        </td>
                    </tr>
                    <tr>
                        <td>生命线工程灾情</td>
                        <td>
                            <input type="radio" name="info_list" value="9" />交通
                            <input type="radio" name="info_list" value="10" />供水
                            <input type="radio" name="info_list" value="11" />输油
                            <input type="radio" name="info_list" value="12" />燃气
                            <input type="radio" name="info_list" value="13" />电力
                            <input type="radio" name="info_list" value="14" />通信
                            <input type="radio" name="info_list" value="15" />水力
                        </td>
                    </tr>
                    <tr>
                        <td>次生灾害</td>
                        <td>
                            <input type="radio" name="info_list" value="16" />崩溃
                            <input type="radio" name="info_list" value="17" />滑坡
                            <input type="radio" name="info_list" value="18" />泥石流
                            <input type="radio" name="info_list" value="19" />岩溶塌陷
                            <input type="radio" name="info_list" value="20" />地裂缝
                            <input type="radio" name="info_list" value="21" />地面沉降
                            <input type="radio" name="info_list" value="22" />其他
                        </td>
                    </tr>
                    <tr>
                        <td>震情</td>
                        <td>
                            <input type="radio" name="info_list" value="23" />基本
                            <input type="radio" name="info_list" value="24" />灾情预测
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <p class="block-heading">填写发送信息</p>
    <div class="well search-well">
        <p>导出格式:
        <select>
            <option value="json">json</option>
            <option value="html">html</option>
            <option value="excel">excel</option>
        </select></p>
        <p>URL：<input type="text" name="URL" value=""></p>
        <input type="submit" value="Submit">
    </div>
    <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Delete Confirmation</h3>
        </div>
        <div class="modal-body">
            <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button class="btn btn-danger" data-dismiss="modal">Delete</button>
        </div>
    </div>
    </form>
</div>
    <script src="/static/lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>